
/*fontes*/
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Permanent+Marker&family=Titan+One&display=swap');

/* RESET DE ESTILOS GERAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/plasma4.jpg);
    color: #f4d400;
    font-family: Arial, sans-serif;
    display: flex;
    text-align: center;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 20px;
}

/* ---------------------------------- HEADER ---------------------------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    position: initial;
    background-color: #00000067;
}

header .logo img {
    height: 65px;
    margin-left: 10px;
}

header .logo img:hover {
    transform: scale(1.1);
}

/* Ícone do Menu - Visível somente no Mobile */
.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #f4d400;
}


h1 {
    padding: 0%;
    margin-top: 20px;
}

/* Menu - Estilo padrão, oculto no mobile */
nav {
    display: flex;
    justify-content: center; /* Centraliza os itens do menu no desktop */
    align-items: center;
    width: 100%;
    background-color: #00000000;
    z-index: 10;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {

    margin: 0 15px;
    
}

nav ul li a {
    color: #f4d400;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #fff;
}



/* ---------------------------------- REDES SOCIAIS ---------------------------------- */

/* Estilo das redes sociais */
#redes-sociais {
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    color: #f4d400;
    text-align: center;
    font-size: 22px;

}

.social-icons a {
    font-size: 30px;
    margin: 0 15px;
    transition: transform 0.3s;
}


.social-icons img {
    margin-top: 15px;
    width: 30px;
    height: 30px;
}
.social-icons img:hover {
    transform: scale(1.5);
}

/* ---------------------------------- FOOTER ---------------------------------- */

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.016);
    color: white;
}

footer a {
    color: #f4d400;
    text-decoration: none;
}

footer a:hover {
    color: white; /* Muda a cor do link ao passar o mouse */
}

/* ---------------------------------- ESTILOS PARA VERSÃO MOBILE ---------------------------------- */

@media (max-width: 768px) {
    .menu-icon {
        display: block;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        
        
    }
    .menu-icon:hover {
        transform: rotate(90deg); /* Rotaciona o ícone do menu quando o mouse passa por cima */
        transition: transform 0.5s ease;
    }

    nav ul {
        display: none;
        
    }

    nav.active ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        background-color: rgba(0, 0, 0, 0.775);
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        z-index: 100;
        gap: 5px;

    }

    .contato-container {
        flex-direction: column;
    }

    .mapa iframe {
        height: 200px;
    }

    .botoes-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Estilo do mapa e do endereço */
.contato-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.endereco {
    margin-bottom: 20px;
}

.mapa {
    width: 100%; /* Garantir que o mapa ocupe toda a largura */
    height: 400px; /* Ajustar a altura do mapa no desktop */
    margin-bottom: 30px; /* Espaçamento para os botões */
}
#redes-sociais {
    font-size: 15px;
    width: 80%;
    text-align: center;
    margin-left: 10%;

}


/* Estilo dos botões */
.botoes-container {
    text-align: center;
}

#whatsapp-btn, #fale-conosco-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#whatsapp-btn:hover, #fale-conosco-btn:hover {
    background-color: #08ec13;
    transform: scale(1.1);
}

/* Formulário de Contato */
.form-container {
    display: none;
    margin-top: 30px;
    text-align: center;
}

#contato-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contato-form label {
    margin-top: 10px;
    font-size: 16px;
}

#contato-form input, #contato-form textarea {
    margin: 5px 0;
    padding: 10px;
    width: 250px;
}

#contato-form button {
    background-color: #f4d400;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

#contato-form button:hover {
    background-color: #d4b600;
}
